.App {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: white;
}

th {
  text-align: left;
}

table {
  margin-top: 20px;
}
